*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    padding: 35px 0 60px;
    display: flex;
    justify-content: center;
}

.nav-header {
    width: 100%;
    max-width: 450px;
    }

.nav-list {
    padding: 0;
    margin: 0 0 25px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.nav-list .list-item {
    font-size: 20px;
}

.nav-list .list-item a {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #3CB371;
    transition: .35s;
    border-radius: 5px;
    border: 2px solid #008B8B;
}

.nav-list .list-item a:hover {
    background: #2E8B57;
}

/* user-form*/
.user-form {
    width: 100%;
    max-width: 450px;
    background: #20B2AA;
    padding: 50px 50px 30px;
    border: 2px solid #008B8B;
    border-radius: 20px;
    color: #008B8B;
    margin: 0 auto;
}
.user-form-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    margin-bottom: 20px;
    font-size: 20px;
}

 .list-item input {
    padding: 10px 15px;
    font-size: 18px;
    color: #008B8B;;
    border-radius: 8px;
    display: block;
    width: 100%;
     border: none;
}

.list-item  textarea {
    width: 100%;
    padding: 0;
    resize: none;
    margin-bottom: 20px;
    color: #008B8B;
}

 .list-item button {
    padding: 10px 50px;
    font-size: 18px;
    background: #00FF7F;
    border-radius: 8px;
    color: #008B8B;
     border: none;
}

.radio-gender-chek {
    flex-direction: row;
}

.radio-gender-chek label {
    margin-right: 35px;
}

.list-item button:hover {
    background: #7CFC00;
    transition: .35s;
}

.list-item.submit {
    display: flex;
    justify-content: flex-end;
}

 .list-item label {
    margin-bottom: 10px;
    color: #ffffff;
     display: block;
}

.list-item.inline label {
    display: inline-block;
    margin-right: 56px;
}

.required-item label:after {
    content: '*';
    color: red;
}

.list-item > select {
    width: 100%;
    padding: 13px 15px;
    font-size: 18px;
    border-radius: 8px;
    color: #008B8B;
    border: none;
}

.message {
    font-size: 24px;
}

.err {
    color: red;
    margin-bottom: 5px;
    font-size: 14px;
}

.required-item label:after {
    content: '*';
    color: red;
}

.footnote {
    padding: 10px 15px;
    background-color: #dedede;
    margin-top: 50px;
}

.footnote .star {
    color: red;
}